<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  {{ with .Site.Params.favicon }}<link rel="shortcut icon" href="{{ . }}" type="image/x-icon">{{ end }}
  <link rel="stylesheet" href="/css/heroic-sled.css">
  <link rel="alternate" href="{{ .Site.BaseURL }}feed.xml" type="application/rss+xml" title="{{ .Title }}">
  <link rel="alternate" href="{{ .Site.BaseURL }}feed.json" type="application/json" title="{{ .Title }}">
  <link rel="me" href="https://micro.blog/heroic_sled">
  <link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth">
  <link rel="token_endpoint" href="https://micro.blog/indieauth/token">
  <link rel="webmention" href="https://micro.blog/webmention">
  <link rel="micropub" href="https://micro.blog/micropub">
  <link rel="microsub" href="https://micro.blog/microsub">
  <link rel="subscribe" href="https://micro.blog/users/follow">
</head>
<body>
  <header class="site-header">
    <a href="/" class="site-title">{{ .Title }}</a>
    <nav class="site-nav">
      {{ range .Site.Menus.main }}
        <a class="page-link" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </nav>
  </header>
  <main>
    {{ .Content }}
  </main>
  <footer class="site-footer">
    <p>&copy; {{ now.Format "2006" }} {{ .Title }}</p>
  </footer>
</body>
</html>
